{% extends "maro_auth/base.html" %}
{% block content %}
<h1>Entrar na sua conta</h1>

<form method="post">
    {% csrf_token %}

    {% for err in form.non_field_errors %}
      {{ err }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <label>{{ field.label }}</label>
    {{ field }}
    {% endfor %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <button type="submit">Entrar</button>
</form>

<a href="{% url 'maro_auth:password_reset' %}">Esqueceu sua senha?</a>

{% endblock %}
